# example of credentials this repo need in .env fiele

# JWT Secrets
JWT_REGISTER_SECRET = 'cdcwrg3'

# FRONTEND Secrets
FRONTEND_URL ='http://localhost:3000'

# BCRYPT credentials
BCRYPT_SALT_ROUNDS=12

PORT = 9000

# Application Pagination
page_limit=10
page_offset=0

#SELF BACKEND FRONTEND_URL
SELF_URL='http://localhost:9000'

# DB configs
DB_POSTGRES_TYPE='postgres'
DB_POSTGRES_HOST=''
DB_POSTGRES_PORT=13652        # 5433
DB_POSTGRES_USERNAME=''
DB_POSTGRES_PASSWORD= # sumit123
DB_POSTGRES_DATABASE=''
DB_CA_CERT='-----BEGIN CERTIFICATE-----==-----END CERTIFICATE-----'

# docker user
POSTGRES_USER= postgres
POSTGRES_PASSWORD= 123
POSTGRES_DB=kanban

# firebase admin config
GOOGLE_FIRBASE_PROJECT_ID=
GOOGLE_FIRBASE_PRIVATE_KEY_ID=
GOOGLE_FIRBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nGRBHTHR\n-----END PRIVATE KEY-----\n"
GOOGLE_FIRBASE_CLIENT_EMAIL=
GOOGLE_FIRBASE_AUTH_URI=
GOOGLE_FIRBASE_TOKEN_URI=
GOOGLE_FIRBASE_AUTH_PROVIDER_CERT_URL=
GOOGLE_FIRBASE_CLIENT_CERT_URL=

# mailtrap creadentials
EMAIL_POST=2525
EMAIL_HOST=
EMAIL_USERNAME=
EMAIL_PASSWORD=