.container {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 100%;
    /* height: 100%; */
    overflow: scroll;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border: 1px solid rgb(182, 182, 182);
    margin-top: 10px;
}

.card:hover {
    border: 1px solid rgb(0, 0, 0);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.image {
    width: 15%;
}

.info {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.infoBox {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
    margin-top: 5px;
}

.infoTitle,
.infoDefine {
    border: 1px solid rgb(0, 0, 0);
    padding: 1% 3%;
    border-radius: 100px;
    background-color: rgb(233, 233, 233);
    font-weight: 600;
}

.actions {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    gap: 10px;
}

.select {
    width: 20%;
}